---
layout: default
---
<div class="post">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="recent_box">
  <div class="recent_posts">
    <div class="recent_title">
      <strong>Recent Posts</strong>
      <br>
      {% for category in site.categories %}  
        <ul class="posts-list">
        {% capture cat %}{{ category | first }}{% endcapture %}
        {% for post in site.categories[cat] %}
          <li>
            <strong>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </strong>
          </li>
        </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="recent_tags">
    <div class="recent_title">
      <strong>Tags</strong>
      <br>


    </div>
  </div>
</div>


<br>
<article class="post-content">
  {{ content }}
</article>

</div>
