---
layout: default
---
<div class="post">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="recent_box">
  <div class="recent_posts">
    <div class="recent_title">
      <strong>Recent Posts</strong>
      <br>
      {% assign count = 0 %}
      {% for post in site.posts %}
        {% if count < 5 %}
          <a class="post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <br>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="recent_tags">
    <div class="recent_title">
      <strong>Tags</strong>
      <br>
      {% for tag in site.tags %}
        {% assign t = tag | first %}
        <a class="post" href="/tags/{{ t }}">{{ t }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<br>
<article class="post-content">

  <div class="tag_show">
    <center>
      <h3>
        <a href="/tags/">Tag List</a>
      </h3>
    </center>
    {% unless page.cover %} {% include page_divider.html %} {% endunless %}
    {% assign tagname = page.url | replace:'/',' ' | replace:'tags',' | truncatewords: 1,"" %}

    <br>
    {% for post in site.posts %}
      {% if post.tags contains tagname %}
        {{ post.title }}
        <br>
      {% endif %}
    {% endfor %}


  </div>
</article>
</div>
