---
layout: default
---
<div class="post">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="recent_box">
  <div class="recent_posts">
    <div class="recent_title">
      <strong>Recent Posts</strong>
      <br>
      {% assign count = 0 %}
      {% for post in site.posts %}
        {% if count < 5 %}
          <a class="post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <br>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="recent_tags">
    <div class="recent_title">
      <strong>Tags</strong>
      <br>
      {% for tag in site.tags %}
        {% assign t = tag | first %}
        <a class="post" href="/tags/{{ t }}">{{ t }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<br>
<article class="post-content">


<br>

테스트1234
<br>

{{ page.url }}
{% assign tag = page.url | replace:'/',' ' | truncatewords: 2,"" %}
{% assign tagg = page.url | replace:'/',' ' | truncatewords: 2 | remove:'...' %}
{% assign tag2 = page.url | replace:'/',' ' | truncatewords: 3,"" %}
{% assign tagg2 = page.url | replace:'/',' ' | truncatewords: 3 | remove:'...' %}
<br>

{{ tag }}

<br>

{{ tagg }}
<br>

{{ tag2 }}

<br>

{{ tagg2 }}

--------------

<br>
{% for post in site.posts %}
  {% if post.tags contains page.url %}  
    {{ post.tags }}
    ㅎㅎ
    <br>
  {% endif %}

  {% if page.url contains post.tags %}  
    {{ post.tags }}
    ㅋㅋ
    <br>
  {% endif %}
{% endfor %}


</article>
</div>
